#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
/* PDF viewer styles */
.react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-pdf__Page {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.react-pdf__Page canvas {
  max-width: 100%;
  height: auto !important;
}
@keyframes logo-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* App.css */
.animated-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;

  background: linear-gradient(270deg, #ff0080, #7928ca);
  background-size: 400% 400%;
  animation: bgMove 12s ease infinite;
  -webkit-animation: bgMove 12s ease infinite;
}

@keyframes bgMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@-webkit-keyframes bgMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.game-box-reveal {
  opacity: 0;
  transform: scale(0.9);
}

.game-box-reveal.visible {
  opacity: 1;
  transform: scale(1);
}
@keyframes float {
  0% { transform: translateY(0px);}
  50% { transform: translateY(-18px);}
  100% { transform: translateY(0px);}
}